.button__nlBtn--black {
    position: absolute;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    width: 20px;
    height: 20px;
    top: 6.5%;
    right: 15%;
}

.button__userBtn--black {
    position: absolute;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    width: 20px;
    height: 20px;
    top: 6.5%;
    right: 10%;
}