<!-- champ et bouton qui font apparaitre la value -->
<label>Add</label>
<input type="text" class="form-control" (input)="onUpdatedAdd($event)" />
<div class="container__searchbar">
  <div class="searchbar">
    <button class="btn btn-primary" [disabled]="!allowAdd" (click)="onAdd()">
      Add
    </button>
  </div>
  <p [innerText]="allowAdd"></p>
  <p>{{ creationStatus }}</p>
  <p>{{ addName }}</p>
  <input [(ngModel)]="addName" name="name" type="text" class="form-control" />
</div>

<!-- bouton qui reset le champ d'un form sans Méthode -->
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<p>username</p>
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="username = ''"
>
  Reset User
</button>

<!-- Directives -->
<button turnToRed>Testing Directives</button>
<p *ngIf="serverCreated" ; else noServer>
  Server was created! Server name is {{ addName }}
</p>
<ng-template #noServer>
  <p>No server</p>
</ng-template>
<p
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ online: serverStatus === 'online' }"
>
  {{ "Server" }} with ID {{ serverId }} is {{ getServerStatus }}
</p>

<!-- ngFor (boucle) -->
<!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">
  Display Details
</button>
<p *ngIf="showSecret">Secret Psw = tuna</p> -->
<button class="btn btn-primary" (click)="onToggleDetails()"> 
  Display Details
</button>
<p *ngIf="showSecret">Secret Psw = tuna</p>
<div 
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'green'}"
  [ngClass]="{'white-text': i >= 4}" >
  {{ logItem }}
</div>
