.container__searchbar {
    position:absolute;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    border: 1px solid #121212;
    padding: 10px;
    border-color: #121212;
}

.searchbar {
    position: absolute;
    background-color: #b41515;
}
